{
    "env": {
        "mocha": true,
        "node": true,
        "jquery": true
    },
    "globals": {
        "expect": false,
        "assert": false,
        "playbyplay": false,
        "utils": false
    },
    "rules": {
        "no-unused-expressions": 0
    }
}
