#playbyplay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100%;
    background: white;
    z-index: 100;
}

#playbyplay, .playbyplay-button {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.playbyplay-hide, .playbyplay-clear, .playbyplay-restore {
    border: 0;
    border-radius: 5px;
    border-spacing: 0;
    padding: 10px;
    cursor: pointer;
    background: #F0F0F0;
}

.playbyplay-hide, .playbyplay-clear {
    min-width: 100px;
}

.playbyplay-hide, .playbyplay-restore {
    margin: 10px;
    background: #00AF33;
    color: white;
}

.playbyplay-runs {
    width: 100%;
    border-collapse: collapse;
}

.playbyplay-run {
    border: 1px solid #CCC;
    border-width: 1px 0;
}

.playbyplay-col {
    width: 50%;
    vertical-align: top;
}

.playbyplay-run:nth-child(odd) {
    background: #F7F7F7;
}

.playbyplay-pre {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    margin: 10px;
}

.playbyplay-output .playbyplay-pre {
    white-space: pre-wrap;
}

.playbyplay-output {
    color: #666;
}

.playbyplay-status-success .playbyplay-output {
    color: #228B22;
}

.playbyplay-status-warning .playbyplay-output {
    color: #FF7F50;
}

.playbyplay-status-error .playbyplay-output {
    color: red;
}

@media only screen and (max-width: 1000px){
    .playbyplay-col {
        display: block;
        width: 100%;
    }
}
